
#contacts{
    background-color: black;
}
.contact-holder{
    display: flex;
    justify-content: space-between;
    height: auto;
    margin: 20px;
    justify-content: center;
    align-items: center;
}
.contact-form{
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
}
.contact-form input{
       width: 600px;
       height: 50px;
       margin: 10px 20px;
       outline: none;
       border-radius: 5px;
       font-size: 1.2rem;
       text-indent: 20px;
}
.contact-form textarea{
    width: 600px;
    height: 200px;
    margin: 10px 20px;
    outline: none;
    border-radius: 5px;
    font-size: 1.2rem;
    text-indent: 20px;
}
.submit-btn{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #FEAB03;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 20px;
    cursor: pointer;
}
.textcon-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
/* End Of Get in touch Page*/

/* start Of Store Information page*/

.info-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info-content{
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 30px;
    margin: 20px;
}
.con-icon{
    font-size: 25px;
}
.info-store span{
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: #FEAB03;
position: absolute;
margin-top: 30px;
}
.info-store{
    margin: 20px;
}
/* End Of Store Information page*/
/* Start Of Store Location page*/
.loc-store h1{
    margin-left: 20px;
}
.map-holder{
    margin: 30px;
}
.map-holder iframe{
    width: 100%;
    height: 50vh;
}
.loc-store span{
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: #FEAB03;
position: absolute;
margin-top: 30px;
}