.log-body{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: content-box;
    background-color: #111010;
    scroll-behavior: smooth;
    scroll-snap-type: none;
    color: #FFFFFF;
    transition: all 0.4s;
    min-height: 100vh;
 
}
.log-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111010;
  width: auto;
  height: 10vh;
  border: 2px solid rgba(255, 255, 255, 0.10);
}

/* Start of the Log in page */
.page-login{
    width: 100%;
    display: flex;justify-content: center;
    background-color: #060606;
}
.login-holder{
    max-width: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #111010;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.header-log{
    margin-top: 100px;
}
.log-text{
 margin-bottom: 60px;
 font-size: 2.5rem;
}
#form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.log-butt{
    width: 450px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.log-butt .buttcontent-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
.log-butt p{
    margin-left: 70px;
    font-size: 1rem;
    font-weight: bold;
} 
.log-butt i{
    font-size: 2rem;
}
.log-butt .fb-icon{
    color: blue;
}
.log-butt .google-icon{
    color: #E12D1F;
}
.double-line{
display: block;
max-width: 1000px;
    width: 100%;
height: 1px;
background-color: rgba(255, 255, 255, 0.30);
margin: 20px;
}
.line-container{
    width: 480px;
    height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 margin: 30px 0 40px 0;
}
.remember-me1{
   display: flex;
   align-items: end;
   margin-bottom:50px ;
}
.input-text{ 
    width: 450px;
    height: 60px;
    outline: none;
    border-radius: 5px;
    font-size: 1.2rem;
    text-indent: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.email-pass{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
input[type=checkbox]{
    width: 25px;
    height: 25px;
}
.log-butt1{
height: 60px;
border-radius: 5px;
background-color: #E12D1F;
margin-bottom: 20px;
margin-top: 10px;
outline: none;
border-radius: 5px;
font-size: 1.5rem;
cursor: pointer;
color: #FFFF;
}
.bottom-seperator{
    display: block;
    width: 650px;
height: 1px;
background-color: rgba(255, 255, 255, 0.30);
    margin: 40px 0 50px 0;
}
.log-signup{
    margin-bottom: 100px;
   color:  rgba(255, 255, 255, 0.50);
}
.log-signup a{
    text-decoration: underline;
}
.forgot-pass{
    text-decoration: underline;
}
/* End of the Log in page */

/* Start of footer of login page*/
.log-footer{
    width: 100%;
    height:10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111010;
    color:  rgba(255, 255, 255, 0.50);
}
.log-footer a{
 text-decoration: underline;
 color:  rgba(255, 255, 255, 0.50);
}