body{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: content-box;
    background-color: #111010;
    scroll-behavior: smooth;
    scroll-snap-type: none;
    color: #FFFFFF;
    transition: all 0.4s;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
.signup-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   width: 100%;
   min-height: 80vh;
}
.signup-header{
display: flex;
justify-content: center;
align-items: center;
}
.signup-container{
    max-width: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.email-holder{
    display: flex;
    flex-direction: column;    
    align-items: start;
}
#signup-email{
    width: 450px;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    background-color: #111010;
      color: #FFFF;
    outline: none;
    border: 2px solid #FFFF;
}
.next-signupbutton{
    width: 450px;
    height: 50px;
    border-radius: 5px;
    background-color: #F72F09;
    color: #FFFF;
    font-size: 1rem;
    cursor: pointer;
}
.sameclass{
    display: flex;
    align-items: center;
    width: 450px;
    height: 55px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #111010;
    color: #FFFF;
    outline: none;
    border: 2px solid #FFFF;
    cursor: pointer;
}
.signcontent-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    font-size: 1.2rem;
}
.signcontent-holder p{
    margin-left: 50px;
}
.signbottom-seperator{
    display: block;
    width: 450px;
height: 1px;
background-color: rgba(255, 255, 255, 0.30);
    margin: 20px 0 40px 0;
}
.signdouble-line{
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.30);
    margin: 20px;
    }
.signline-container{
width: 480px;
height: 50px;
display: flex;
align-items: center;
justify-content: space-between;
margin: 30px 0 40px 0;
}

/* Start of Footer */
.signup-footer{
    width: 100%;
    min-height:10vh;
    background-color: #111010;
    color:  rgba(255, 255, 255, 0.50);
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-footercontent{
    min-height:10vh;
    display: inline;
    position: absolute;
}
/* end of footer */

/* This is the Second Page Design */
.create-pass{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 250px;
}
.create-passform{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.icon-textwrapper{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    margin-right: 260px;
}
.icon-textwrapper i{
    cursor: pointer;
}
.text-createcontainer{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.text-createcontainer p{
    margin-top: 85px;
    margin-right: 160px;
}
.progress-bar{
    width: 600px;
    height: 4px;
    border-radius: 25px;
    background-color: antiquewhite;
    margin-top: 20px;
}
.fill-bar{
    width: calc(500px/3);
    height: 4px;
    border-radius: 25px;
    background-color: green;
    margin-top: -4px;
}
.previous-button{
    font-size: 2rem;
}
.create-passform input[type="password"]{
height: 50px;
width: 450px;
margin-top: 20px;
margin-bottom: 10px;
font-size: 1.3rem;
outline: none;
color: #FFFF;
background-color: #111010;
border: 2px solid;
}
.validator-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.validator-icon i{
    margin-right: 10px;
}

/* This is The 3rd Step */
.create-about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}
.icon-textwrapper2{
    display: flex;
    align-items: center;
}
.icon-textwrapper2{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    margin-right: 300px;
    }
.icon-textwrapper2 i{
    cursor: pointer;
}
.text-createcontainer2{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.text-createcontainer2 p{
    margin-top: 80px;
}
.create-allabout .allabout-input{
    width: 450px;
    height: 50px;
    margin-bottom: 30px;
    font-size: 1.3rem;
    outline: none;
    color: #FFFF;
    background-color: #111010;
    border: 2px solid;
    text-indent: 20px;
    }
.dob-content{
        display: flex;
        align-items: center;
        height: 50px;
       
    }
.dob-holder .date-text{
    width: 110px;
    height: 50px;
    font-size: 1.3rem;
    outline: none;
    color: #FFFF;
    background-color: #111010;
    border: 2px solid;
    text-indent: 20px; margin-right: 10px;
}
.dob-holder .year-text{
    width: 140px;
    height: 50px;
    font-size: 1.3rem;
    outline: none;
    color: #FFFF;
    background-color: #111010;
    border: 2px solid;
    text-indent: 20px;
}
.dob-holder .month-selection{
    height: 50px;
    width: 170px;
    outline: none;
    background-color: #111010;
    margin-right: 10px;
    color: #FFFF;
    font-size: 1.2rem;
}
.gender-content{
    width: 450px;
 display: flex;
 flex-wrap: wrap;
margin: 20px 0 ;
}
.gender-content label{
    margin-right: 30px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}
.gender-content input{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}
/* End of the second step */


/* Start of the step 3 */
.terms-condition{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 250px;
}
.terms-div{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 450px;
    height: 100px;
    background-color: #292929;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 5px;
}
.terms-content{
padding: 20px;
}
.icon-textwrapper3{
    display: flex;
    align-items: center;
}
.icon-textwrapper3{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    margin-right: 300px;
    }
.icon-textwrapper3 i{
    cursor: pointer;
}
.text-createcontainer3{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.text-createcontainer3 p{
    margin-top: 80px;
}
/* End of the step 3 */

.backto-login{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.backto-login img{
 width: 250px;
 height: 250px;
 margin-bottom: 20px;
}
.backto-login h1 {
    color:  rgba(255, 255, 255, 0.50);
}
.backto-login a{
    text-decoration: underline 2px;
}
/* This is to hide all the element of the section except the first child */
 .page{
    display: none;
}
.signup-page >*:nth-child(1){  
   display: flex;
}
